html{

}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: pink;
}

nav{
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  width: 100%;

}

.navbar{
  text-decoration: none;
  color: black;
  font-size: 42px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.a{
  flex-grow: 1;
  background-color: ;
  padding-left:120px;
  padding-right:120px;
  margin-right: 12px;
  margin-left: 60px;
}

.b{
  flex-grow: 1;
  background-color: ;
  padding-left:120px;
  padding-right:120px;
  margin-right: 70px;
}

.c{
  flex-grow: 1;
  background-color:;
  padding-left:120px;
  padding-right:100px;
}

.navbar:hover{
  background-color: green;
}

article{
  display: flex;
  flex-direction: column;
  border-radius: 1px;
  border: solid;
  border-color: white;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  box-shadow: 6px 7px 82px -15px rgba(163,163,163,1);

}

.about{
  display: flex;
  flex-direction: row;
  width: 1000px;
}

h1{
  font-family: Roboto;
  font-size: 40px;
  font-weight: lighter;
  color: #2E2E2E;
  flex-grow: 1;
  /*margin-top: 20px;
  margin-bottom: 10px;
  padding: 5px;*/

}

h2{
  font-family: Roboto Condensed;
  font-style: italic;
  font-size: 25px;
  flex-grow: 5;
  margin-top: 55px;
}

button{
  /*margin-left: 500px;
  margin-top: 20px;*/
  flex-grow: 1;
  border: none;
  background-color: white;
  /*height: 50px;*/
  z-index: 9999;
}

p{
  width: 1000px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 200%;
}

.hide{
  display: none;
}

input[type='checkbox'] {
  width: 50px;
  height: 50px;
  margin-top: 40px;
  margin-right: 20px;
  color: white;
}

aside{
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 10px;
  top: 400px;
  background-color: #ECFFEB;
  box-shadow: 7px 9px 64px -12px rgba(0,0,0,0.75);

}

.icons{
width: 40px;
height: 40px;
margin: 10px;
}

h3{
  font-family: Roboto;
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
  color: #95989A;
  margin-right: 20px;
  margin-left: 5px;

}

h4{
  font-family: Roboto;
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
  color: #95989A;
}

.main2{
  display: flex;
  flex-direction: row;
  padding: 50px;

}

.user{
  margin: 10px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 7px 9px 64px -12px rgba(0,0,0,0.75);

}

h5{
  font-family: Roboto;
  font-size: 14px;
  font-weight: lighter;
  font-style: italic;
  color: #95989A;
}

/*.twitter{
  height: 50px;
  width: 50px;*/
}
}
